*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
:root{
    --azul:#004AAD;
    --branco:white;
    --azul-claro:#B7D4EF;
}


body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: auto;
    height: auto;
    background: rgb(15,4,87);
    background: linear-gradient(90deg, rgba(15,4,87,1) 0%, rgba(32,2,192,1) 100%);
}
  
img{
    width: 200px;
    border-radius: 50%;
    
}
.caixalinks{
    align-items: center;
    display: flex;
    flex-direction: column;
}
div.img{
    
    margin-bottom: 25px;
    margin-top: 25px;
    padding: 3px;
}
a{
    display: block;
    text-decoration: none;
    background-color: var(--azul-claro);
    margin-bottom: 5px;
    border-radius: 5px;
    width: 200px;
    padding: 4px;
    text-align: center;
    color: var(--azul);animation-name: efeito;
    animation-duration: 3s;
    animation-iteration-count: calc(2);
    animation-delay: 2s;
    animation-timing-function:linear;
}
a:hover{
    color: var(--branco);
    
}
i{
    margin-right:8px;
}
@keyframes efeito {
    50%{
        transform: translate(0px,10px);
        -webkit-transform: translate(0px,10px);
    }
    10%{
        transform: scale(0.9,0.9);
        -webkit-transform : scale(0.9 , 0.09);

    }
    20%{
        transform: skew(4deg , 10deg ) ;

    }
    30%{
        transform: skew(4deg , -10deg ) ;

    }
    
}